.summary-layout {
  width: 100%;
  min-height: 75vh;
  border: 1px solid #e0e0e0;
  border-radius: 5px !important;
  background-color: white !important;
  color: black !important;
}

.summary-layout h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: xx-large;
  font-weight: 600;
}

.summary-table-container {
  background-color: white;
  border-radius: 5px;
  color: black;
  min-height: 75vh !important;
}

.summary-loading-skeleton > * {
  margin: 1em 1em 1rem 1em !important;
  padding: 1rem;
}

.summary-scroll {
  overflow: hidden;
  height: 75vh;
}
