.homepage-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.homepage-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
}
