.homepage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: .5rem;
}

.homepage-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
}
