@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../app/globals.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  --primary-color: #00541a;
  --secondary-color: #61ce70;
  --tertiary-color: #4f4f4f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--secondary-color)
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
