.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5em;
}

.dashboard > * {
  margin: 1em;
  padding: 1em;
}

.table {
  border: 1px solid #e0e0e0;
  width: 20% !important;
}
