.dashboard {
  border: 1px solid #e0e0e0;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-around !important;
  gap: 5em;
}

.dashboard > * {
  margin: 1em;
  padding: 1em;
}

.table {
  border: 1px solid #e0e0e0;
  width: 20% !important;
}

.dashboard .graph {
  border: 1px solid #e0e0e0;
  width: 90% !important;
}
