.checkin-page-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.popup-form {
  width: 80%;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.form-response,
.gps-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.gps-form {
  width: 100%;
}
