.Workorder-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.create-work-order-page-title {
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
}

.form {
  width: 95vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  line-height: 3;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
}
