.scroll {
  height: 40vh;
  overflow: hidden;
}

.table {
  border: 1px solid #e0e0e0;
  width: 20% !important;
  border-radius: 5px !important;
  background-color: white !important;
  color: black !important;
}

.table-container {
  display: flex;
  justify-content: stretch !important;
  align-items: stretch !important;
  flex-direction: column;
  width: 100% !important;
  height: 100%;
  margin: 0;
}

.table h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 400;
  color: #333;
  text-align: center;
  margin-bottom: 5px;
}

.table-header > * {
  /* margin-right: 1em; */
  padding: 0 !important;
}

.temp-block {
  padding-left: 1.25 !important;
}
