.update-status-layout {
  display: flex;
  flex-direction: row;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 1rem;
  margin: 4.5em 0 0 1rem;
  gap: 1rem;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
