body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-status-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
