.form-response-layout {
  width: 35vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.form-loading-skeleton > * {
  width: 30vw !important;
  margin: 1em 1em 1rem 1em !important;
  padding: 1rem;
}
