.nav-menu-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.nav-link:last-child {
  border-right: none;
}

.nav-link svg {
  margin-right: 0.5rem;
}
