.nav-menu-layout {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* width: 70vw; */
}

.nav-link {
    color: white;
    font-size: 1em;
    padding: 5px;
}