.nav-menu-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 1rem;
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.nav-links:last-child {
  border-right: none;
}

.nav-links svg {
  margin-right: 0.5rem;
}

.nav-links.active {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: rgba(167, 207, 55, 0.3);
}
