.order-layout {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  margin: auto;
}

.work-order-layout .flex.flex-col.space-y-3 > * {
  line-height: 5;
}
