.how-it-works {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  height: 80vh;
  width: 95vw;
  padding: 1rem;
  margin: 1rem;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}

.how-it-works-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}

.how-it-works-content img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.how-it-works-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.how-it-works aside {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  height: 100%;
}

.about-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 6px;
}

.about-page-content h2 {
  font-size: 2em;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bolder;
}

.about-page-content h3 {
  font-size: 1.2em;
}

.about-page-content-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
  /* border: 1px solid #e0e0e0; remove this once we have all the contents in */
}

.about-page-content-block img {
  width: 20vw;
  border: 4px solid #00541a;
}

.carousel-image {
  width: 280px;
  height: 300px;
  object-fit: cover;
}

.separator {
  width: 90% !important;
  height: 1px;
  background-color: #e0e0e0;
  margin: 0 1rem 1rem;
}

.about-page-separator {
  width: 90%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 2rem 1rem 1rem 1rem;
}

.bullet-list {
  list-style-type: disc;
  margin-left: 20px;
}
